* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  --gray: hsla(240, 9%, 89%, 1);
  --another-gray: hsla(240, 7%, 78%, 1);
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(./images/background.svg);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--another-gray);
}

h1 {
  font-size: 1.5rem;
  color: var(--gray);
}

p {
  color: var(--gray);
}
